.posterImage {
  width: 9rem;
  height: 14rem;
  margin: 1rem;
  transition: all 0.2s ease-in-out;
  object-fit: cover;
  /* object-position: top center; */
}

.posterImage:hover {
  transform: scale(1.1);
}
