.reviewCard {
  display: flex;
  margin: 1rem 0;
  margin-right: 0.5rem;
  padding: 0.5rem;
  max-width: 35rem;
  border-top: 0.5px solid rgb(87, 87, 87);
  /* border-bottom: 0.5px solid rgb(87, 87, 87); */
}

.main {
  display: flex;
  padding: 0 1rem;
  width: 100%;
}

.content {
  width: 100%;
}

.topContent {
  display: flex;
  align-items: center;
}
.username {
  font-size: small !important;
  color: #e8e8e8 !important;
  margin-right: 5px !important;
}
.ratingsMain {
  display: flex;
  align-items: center;
  color: #ffc107 !important;
}

.star {
  color: #ffc107 !important;
}

.rating {
  font-weight: bold !important;
}
.comment {
  font-size: small !important;
}

.iconButton{
  height: fit-content !important;
  width:  fit-content !important;
}
